<!-- your html code here -->
<div class="container bg-white ">
    <div class="row align-items-center p">
        <div class="col-md-8">
            <h3 class="fw-bold">The First Heading
            <span class="text-secondary">Will Catch You Eye</span>
            </h3>
            <p class="fw-light lh-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident numquam aut aperiam molestiae esse atque itaque reiciendis deserunt facere ipsum, tempore fugiat voluptatum neque distinctio earum quidem fuga ex assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, dolor! Voluptatibus, veritatis. Aspernatur beatae minima assumenda mollitia maiores error explicabo nesciunt, rem omnis? Illo, vero? Magnam eius excepturi aspernatur quidem.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img src="https://img.freepik.com/premium-photo/animal-contemporary-art-collage-cute-koala-warm-sweater-glasses-yellow-background_1306040-101.jpg?ga=GA1.1.1123327030.1736088995&semt=ais_hybrid&w=740" class="img-fliud rounded-circle" style="width: 45%; height: 45%;">
        </div>
    </div>

    <div class="row align-items-center p">
        <div class="col-md-4 text-center">
            <img src="https://img.freepik.com/premium-photo/animal-contemporary-art-collage-cute-koala-warm-sweater-glasses-yellow-background_1306040-101.jpg?ga=GA1.1.1123327030.1736088995&semt=ais_hybrid&w=740" class="img-fliud rounded-circle" style="width: 45%; height: 45%;">
        </div>
        <div class="col-md-8">
            <h3 class="fw-bold">The First Heading
            <span class="text-secondary">Will Catch You Eye</span>
            </h3>
            <p class="fw-light lh-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident numquam aut aperiam molestiae esse atque itaque reiciendis deserunt facere ipsum, tempore fugiat voluptatum neque distinctio earum quidem fuga ex assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, dolor! Voluptatibus, veritatis. Aspernatur beatae minima assumenda mollitia maiores error explicabo nesciunt, rem omnis? Illo, vero? Magnam eius excepturi aspernatur quidem.
            </p>
        </div>
    </div>


</div>